<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nine.crm.mapper.EmployeeMapper">

    <resultMap id="baseMap" type="cn.nine.crm.domain.Employee">
        <!--员工-->
        <id column="te_id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="realName" property="realName"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="inputTime" property="inputTime"/>
        <result column="state" property="state"/>
        <result column="salt" property="salt"/>
        <!--部门-->
        <association property="department" javaType="cn.nine.crm.domain.Department">
            <id column="td_id" property="id"/>
            <result column="td_name" property="name"/>
        </association>
        <association property="tenant" javaType="cn.nine.crm.domain.Tenant">
            <id column="tt_id" property="id"/>
            <result column="companyName" property="companyName"/>
        </association>
    </resultMap>
    <!--添加员工-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO employee
        (
            username,
            password,
            realName, tel,
            email,
            inputTime,
            state,
            department_id,
            salt,
            tenant_id
        )
        VALUES
        (
            #{username},
            #{password},
            #{realName},
            #{tel},
            #{email},
            #{inputTime},
            #{state},
            #{department.id},
            #{salt},
            #{tenant.id}
        )

    </insert>
    <update id="update" parameterType="cn.nine.crm.domain.Employee">
        UPDATE employee
        <set>
            <if test="username != null and username !=''">
                username =#{username},
            </if>
            <if test="password != null and password !=''">
                password =#{password},
            </if>
            <if test="realName != null and realName !=''">
                realName = #{realName},
            </if>
            <if test="tel != null and tel !=''">
                tel =#{tel},
            </if>
            <if test="email != null and email !=''">
                email =#{email},
            </if>
            <if test="inputTime != null and inputTime !=''">
                inputTime =#{inputTime},
            </if>
            <if test="state != null and state !=''">
                state = #{state},
            </if>
            <if test="department != null and department.id !=''">
                department_id =#{department.id},
            </if>
            <if test="tenant != null and tenant.id !=''">
                tenant_id = #{tenant.id},
            </if>
        </set>
        where id =#{id}
    </update>
    <!--删除数据-->
    <delete id="delete" parameterType="long" >
        DELETE FROM employee WHERE id=#{id}
    </delete>
    <!--批量删除员工-->
    <delete id="batchDelete">
        DELETE FROM  employee WHERE id in
        <foreach collection="list" open="(" item="id" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!--查询所有数据-->
    <select id="findAll" resultMap="baseMap">
        select
            te.id AS te_id,
            te.username,
            te.password,
            te.realName,
            te.tel,
            te.email,
            te.inputTime,
            te.state,
            te.salt,
            te.tenant_id,
            td.id AS td_id,
            td.name AS td_name,
            tt.id AS  tt_id,
            tt.companyName
        from
            employee te
            JOIN department  td ON te.department_id = td.id
            JOIN tenant  tt ON tt.id=te.tenant_id
    </select>
    <!--抽取sql-->
    <sql id="baseWhere">
        <where>
            <if test=" keyword !=null ">
                and username like  CONCAT("%",#{keyword},"%")
            </if>
        </where>
    </sql>
    <!--查询总条数-->
    <select id="selectForCount" resultType="java.lang.Long">
        SELECT count(id) FROM employee
        <include refid="baseWhere"/>
    </select>
    <!--分页查询-->
    <select id="selectForPage" resultMap="baseMap">
        select
        te.id AS te_id,
        te.username,
        te.password,
        te.realName,
        te.tel,
        te.email,
        te.inputTime,
        te.state,
        te.salt,
        te.tenant_id,

        td.id AS td_id,
        td.name AS td_name,

        tt.id  AS tt_id,
        tt.companyName
        from
        employee te
        LEFT JOIN department  td ON te.department_id = td.id
        LEFT JOIN tenant  tt ON tt.id=te.tenant_id
        <include refid="baseWhere"/>
        LIMIT #{start} , #{pageSize}
    </select>

    <select id="findByUsername" resultType="cn.nine.crm.domain.Employee">
        select * from employee where username = #{username}
    </select>
    <select id="findOne" resultType="cn.nine.crm.domain.Employee">
        SELECT * FROM employee WHERE id=#{id}
    </select>
    <select id="findEmployeeByDepartmentName" resultType="cn.nine.crm.domain.Employee">
        SELECT *
        FROM employee e LEFT JOIN  department d ON e.department_id =d.id
        WHERE d.name=#{departmentName}
    </select>
    <!--分页查询-->
</mapper>
