<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nine.crm.mapper.GuaranteeItemMapper">

    <!--抽取where条件-->
    <sql id="base_where">
        <where>
            <if test="keyword != null">
                and name like CONCAT("%",#{keyword},"%")
            </if>
        </where>
    </sql>

    <!-- 查询全部数据 -->
    <select id="findAll" resultType="cn.nine.crm.domain.GuaranteeItem">
        select
        *
        from t_guarantee_item
    </select>

    <!-- 分页查询 -->
    <select id="selectForPage" parameterType="cn.nine.crm.query.GuaranteeItemQuery" resultType="cn.nine.crm.domain.GuaranteeItem">
        select *
        from t_guarantee_item
        <include refid="base_where"/>
        limit #{start},#{pageSize}
    </select>

    <!-- 查询数据条数 -->
    <select id="selectForCount" resultType="long">
        select
        count(*)
        from t_guarantee_item
        <include refid="base_where"/>
    </select>

    <!-- 查询单个数据 -->
    <select id="findOne" parameterType="long" resultType="cn.nine.crm.domain.GuaranteeItem">
        select
        *
        from t_guarantee_item  where id = #{id}
    </select>

    <!-- 新增数据 -->
    <insert id="save" parameterType="cn.nine.crm.domain.GuaranteeItem"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_guarantee_item
        ()
        values
        ()
    </insert>

    <!-- 修改数据 -->
    <update id="update" parameterType="cn.nine.crm.domain.GuaranteeItem">
        update t_guarantee_item
        set name = #{name},
        sn = #{sn}
        where id = #{id}
    </update>

    <!-- 删除单个数据 -->
    <delete id="delete" parameterType="long">
        delete from t_guarantee_item where id = #{id}
    </delete>

    <!-- 删除多个数据 -->
    <delete id="batchDelete">
        <!--open最前面的字符,close在最后的字符separator分隔符,每次循环使用什么分隔-->
        delete from t_guarantee_item where id in
        <foreach collection="list" open="(" item="id" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


</mapper>
