<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nine.crm.mapper.GuaranteeMapper">

    <!-- 抽取 where条件 -->
    <sql id="base_where">
        <where>
            <if test="keyword != null">
                and sn like CONCAT("%",#{keyword},"%")
            </if>
        </where>
    </sql>
    
    <!-- 抽取 关联查询字段 -->
    <sql id="base_cloumn">
        /* 保修单管理 */
        g.id AS g_id, g.sn AS g_sn,
        /* 关联 保修单明细 */
        gi.id AS gi_id, gi.input_date, gi.details, gi.status, gi.guarantee_sn
        /* 关联 合同 */
        /*ca.id AS ca_id, ca.sn AS ca_sn, ca.singn_time*/
    </sql>

    <!-- 抽取 join -->
    <sql id="base_join">
        JOIN
        JOIN contract ca
    </sql>

    <!-- 关联查询 -->
    <resultMap id="baseResultMap" type="cn.nine.crm.domain.Guarantee">
        <id column="g_id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="end_date" property="endDate"/>

        <!-- 关联 保修单明细 -->
        <collection property="guaranteeItemList" ofType="cn.nine.crm.domain.GuaranteeItem">
            <id column="gi_id" property="id"/>
            <result column="input_date" property="inputDate"/>
            <result column="details" property="details"/>
            <result column="status" property="status"/>
        </collection>

        <!-- 关联 合同 -->
        <!--<collection property="contract" ofType="cn.nine.crm.domain.Contract">
            <id column="ca_id" property="id"/>
            <result column="ca_sn" property="sn"/>
            <result column="singn_time" property="signTime"/>
        </collection>-->
    </resultMap>

    <!-- 查询全部数据 -->
    <select id="findAll" resultMap="baseResultMap">
        SELECT
            <include refid="base_cloumn"/>
        FROM t_guarantee g
        JOIN t_guarantee_item gi ON g.sn = gi.guarantee_sn
        <include refid="base_where"/>
    </select>

    <!-- 分页查询 -->
    <select id="selectForPage" parameterType="cn.nine.crm.query.GuaranteeQuery" resultMap="baseResultMap">
        SELECT
            <include refid="base_cloumn"/>
        FROM t_guarantee g
        JOIN t_guarantee_item gi ON g.sn = gi.guarantee_sn
        <include refid="base_where"/>
        limit #{start},#{pageSize}
    </select>

    <!-- 查询数据条数 -->
    <select id="selectForCount" resultType="long">
        SELECT
            COUNT(*)
        FROM t_guarantee
        <include refid="base_where"/>
    </select>

    <!-- 查询单个数据 -->
    <select id="findOne" parameterType="long" resultType="cn.nine.crm.domain.Guarantee">
        SELECT
            <include refid="base_cloumn"/>
        FROM t_guarantee
        JOIN t_guarantee_item gi ON g.sn = gi.guarantee_sn
        WHERE id = #{id}
    </select>

    <!-- 新增数据 -->
    <insert id="save" parameterType="cn.nine.crm.domain.Guarantee"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_guarantee(
            sn,
            end_date,
            contract_sn
        )
        VALUES(
            #{sn},
            #{endDate},
            #{contract.id}
        )
    </insert>

    <!-- 修改数据 -->
    <update id="update" parameterType="cn.nine.crm.domain.Guarantee">
        UPDATE t_guarantee
        SET
            sn = #{sn},
            end_date = #{endDate},
            contract_id = #{contract.id}
        WHERE id = #{id}
    </update>

    <!-- 删除单个数据 -->
    <delete id="delete" parameterType="long">
        DELETE
        FROM t_guarantee
        WHERE id = #{id}
    </delete>

    <!-- 删除多个数据 -->
    <delete id="batchDelete">
        <!--open最前面的字符,close在最后的字符separator分隔符,每次循环使用什么分隔-->
        DELETE
        FROM t_guarantee
        WHERE id IN
            <foreach collection="list" open="(" item="id" close=")" separator=",">
                #{id}
            </foreach>
    </delete>


</mapper>
