<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.nine.crm.mapper.PermissionMapper">

    <resultMap id="result" type="cn.nine.crm.domain.Permission">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="descs" column="descs"/>
        <result property="sn" column="sn"/>
        <association property="menu" select="cn.nine.crm.mapper.MenuMapper.findOne"
                     column="menu_id" javaType="cn.nine.crm.domain.Menu"/>
    </resultMap>

    <select id="findAll" resultMap="result">
        select
        <include refid="base_cloumn"/>
        from permission
    </select>

    <select id="selectForPage" parameterType="cn.nine.crm.query.PermissionQuery" resultMap="result">
        select
        <include refid="base_cloumn"/>
        from permission
        <include refid="base_where"/>
        limit #{start},#{pageSize}

    </select>

    <select id="selectForCount" resultType="long">
        select
        count(*)
        from permission
        <include refid="base_where"/>
    </select>

    <sql id="base_cloumn">
        id, name, url, descs, sn, menu_id
    </sql>
    <!--抽取where-->
    <sql id="base_where">
        <where>
            <if test="keyword != null">
                and name like CONCAT("%",#{keyword},"%")
            </if>
        </where>
    </sql>

    <select id="findOne" parameterType="long" resultMap="result">
        select
       *
        from permission  where id = #{id}
    </select>


    <insert id="save" parameterType="cn.nine.crm.domain.Permission"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into permission
        (name, url, descs, sn, menu_id) values
        (#{name},#{url},#{descs},#{sn},#{menu.id})


    </insert>

    <update id="update" parameterType="cn.nine.crm.domain.Permission">
        update permission
        set name = #{name},
        url = #{url},
        descs =#{descs},
        sn = #{sn},
        menu_id = #{menu.id}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        delete from permission where id = #{id}
    </delete>

    <delete id="batchDelete">
        <!--open最前面的字符,close在最后的字符separator分隔符,每次循环使用什么分隔-->
        delete from permission where id in
        <foreach collection="list" open="(" item="id" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


</mapper>
