<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.nine.crm.mapper.TenantMapper">
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO tenant(companyName, companyTel, companyNum, email, sysName, registerTime, state, address,
                           logo, meal_id)
        VALUES (#{companyName},
                #{companyTel},
                #{companyNum},
                #{email},
                #{sysName},
                #{registerTime},
                #{state},
                #{address},
                #{logo},
                #{meal.id})
    </insert>
    <update id="update">
        UPDATE tenant
        <set>
            <if test="companyName != null">
                companyName = #{companyName},
            </if>
            <if test="companyTel != null">
                companyTel = #{companyTel},
            </if>
            <if test="companyNum != null">
                companyNum = #{companyNum},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="sysName != null">
                sysName = #{sysName},
            </if>
            <if test="registerTime != null">
                registerTime = #{registerTime},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="logo != null">
                logo = #{logo},
            </if>
            <if test="meal != null and meal.id != null">
                meal_id = #{meal.id},
            </if>
            <if test="isPay != null">
                ispay = #{isPay},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE
        FROM tenant
        WHERE id = #{id}
    </delete>
    <delete id="batchDelete">
        DELETE FROM tenant WHERE id IN
        <foreach collection="list" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--关联结果映射-->
    <resultMap id="baseResultMap" type="cn.nine.crm.domain.Tenant">
        <id column="t_id" property="id"/>
        <result column="companyName" property="companyName"/>
        <result column="companyTel" property="companyTel"/>
        <result column="companyNum" property="companyNum"/>
        <result column="email" property="email"/>
        <result column="sysName" property="sysName"/>
        <result column="registerTime" property="registerTime"/>
        <result column="state" property="state"/>
        <result column="address" property="address"/>
        <result column="logo" property="logo"/>
        <result column="ispay" property="isPay"/>
        <association property="meal" javaType="cn.nine.crm.domain.Meal">
            <id column="t_id" property="id"></id>
            <result column="name" property="name"/>
            <result column="price" property="price"/>
            <result column="expire_date" property="expireDate"/>
            <result column="status" property="status"/>
        </association>
    </resultMap>

    <select id="findAll" resultMap="baseResultMap">
        SELECT t.id AS t_id,
               t.companyName,
               t.companyTel,
               t.companyNum,
               t.email,
               t.sysName,
               t.registerTime,
               t.state,
               t.address,
               t.logo,
               t.ispay,

               m.id AS m_id,
               m.name
        FROM tenant t
                 JOIN meal m on t.meal_id = m.id
    </select>
    <select id="findOne" resultType="cn.nine.crm.domain.Tenant">
        SELECT id,
               companyName,
               companyTel,
               companyNum,
               email,
               sysName,
               registerTime,
               state,
               address,
               logo,
               meal_id,
               ispay
        FROM tenant
        WHERE id = #{id}
    </select>
    <sql id="base_where">
        <where>
            <if test="keyword != null">
                and name like CONCAT("%",#{keyword},"%")
            </if>
        </where>
    </sql>
    <!--分页查询-->
    <select id="selectForCount" resultType="long">
        SELECT count(id) FROM tenant
        <include refid="base_where"/>
    </select>
    <select id="selectForPage" resultMap="baseResultMap">
        SELECT t.id AS t_id,
        t.companyName,
        t.companyTel,
        t.companyNum,
        t.email,
        t.sysName,
        t.registerTime,
        t.state,
        t.address,
        t.logo,
        t.ispay,

        m.id AS m_id,
        m.name,
        m.price,
        m.expire_date,
        m.status
        FROM tenant t
        JOIN meal m on t.meal_id = m.id
        <include refid="base_where"/>
        limit #{start},#{pageSize}
    </select>

</mapper>
