<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/><!--日志-->
        <setting name="mapUnderscoreToCamelCase" value="true"/><!--开启驼峰命名-->
        <setting name="cacheEnabled" value="false"/><!--不开启二级缓存，和延迟加载冲突-->
        <!-- 要使延迟加载生效必须配置下面两个属性-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="lazyLoadTriggerMethods" value=""/>
    </settings>
</configuration>
